/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

$primary = #F5BA13

.application--light .navigation-drawer
  background-color: $primary

.application--light .toolbar
  background-color: $primary

a
  text-decoration: none